<p id="notice"><%= notice %></p>

<%= form_tag reports_path do%>
  <%= hidden_field_tag :name, @name %>
<p>
  <%= label_tag :address, "Email Address:" %>
  <%= email_field_tag :address, nil, placeholder: "Email Address" %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>
