<h1>Hits for <%= @assembly.name %></h1>
<p>Total time before HTML is generated: <%= Time.now - @start_time %> s</p>
<p>Memory used before HTML is generated: <%= @memory_used %> MB</p>
<p>Number of hits: <%= @hits.length %></p>

<div>
<p>
  <span>Matching Gene Name</span>
  <span>Matching DNA</span>
  <span>Percent Similarity</span>
</p>
<% @hits.each do |h| %>
  <p>
    <span><%= h.match_gene_name %></span>
    <span><%= h.match_gene_dna.first(100) %></span>
    <span><%= h.percent_similarity %></span>
  </p>
<% end %>
</div>

<p>Total time before HTML is generated: <%= Time.now - @start_time %> s</p>
<p>Memory used after HTML is generated: <%= memory_in_mb %> MB</p>
